# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.env
.env.*.local

# Logs
logs/
*.log
*.log.*
log/

# OS
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# Compiled output
dist/
build/

# Coverage
coverage/
.nyc_output/

# Misc
*.local
*.sublime-project
*.sublime-workspace

# Optional: if using TypeScript
*.tsbuildinfo
